@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Poppins'
    scroll-behavior: smooth

:root
    --cor-texto: #ffffff
    --cor-destaque-texto: #69F0F0
    --cor-container: #0B426A
    --cor-destaque-logo: #FF0000
    --cor-placeholder: #6A6A6A
    --cor-texto-preto: #000000
    --degrade: linear-gradient(115deg,#01070B 26%,#01070B 46%,#06243A 84%,#0B426A 100%)

header
    display: flex
    justify-content: space-between
    align-items: center
    background: var(--degrade)

    @media (max-width: 1260px)
        justify-content: center

    .top-header
        padding: 1rem

        .logo-header
            margin-left: 1rem
            width: 10rem

            @media (max-width: 1260px)
                width: 15rem

    .navigation
        width: 17rem
        padding: 1rem

        @media (max-width: 1260px)
            display: none

        ul
            display: flex
            justify-content: space-between
            list-style-type: none

            a
                text-decoration: none
                font-size: 1rem
                color: var(--cor-texto)

                &:hover
                    text-decoration: underline

main
    .top-main
        display: flex
        gap: 6rem
        font-weight: 200
        justify-content: center
        align-items: center
        background: linear-gradient(115deg,#01070B 20%,#01070B 43%,#06243A 78%,#0B426A 93%) 
        color: var(--cor-texto)
        font-size: 1.4rem

        @media (max-width: 1260px)
            flex-direction: column
            text-align: center

        .slogan
            display: flex
            flex-direction: column
            gap: 1rem
            width: 30rem
            padding: 1rem

            @media (max-width: 1260px)
                justify-content: center

            .linha
                width: 20rem
                height: 4px
                background-color: var(--cor-texto)
                
                @media (max-width: 1260px)
                    width: auto
                    flex-direction: column
                    text-align: center

            .subtitulo
                padding-top: 1rem
                font-size: 1rem

                .palavra-destaque
                    color: var(--cor-destaque-texto)
                    font-weight: 400

        .mascote
            width: 25rem

    .section-2
        display: flex
        justify-content: center
        align-items: center
        padding: 5rem

        @media (max-width: 1260px)
            flex-direction: column

        .frase-efeito
            width: 48rem
            padding: 5rem
            font-size: 1.5rem
            display: flex
            align-items: center
            flex-direction: column
            text-align: start
            gap: 1rem
            justify-content: center

            @media (max-width: 1260px)
                width: 40rem
                text-align: center
                font-size: 1.2rem

            .btn-saiba-mais
                width: 30rem
                background-color: var(--cor-container)
                color: var(--cor-texto)
                padding: 0.8rem 0.5rem
                border: none
                outline: none
                border-radius: 5rem
                font-size: 1.1rem

            .hr-section2
                max-width: 35rem
                width: 35rem
                background-color: #AEB7BD
                border-radius: 1rem
                height: 5px

            .frase
                color: var(--cor-texto-preto)
                    

        .container-imagens
            padding: 1rem

            .banner1,.video
                width: 27.6rem

    .cards-beneficios
        display: flex
        justify-content: space-evenly
        align-items: center
        background-color: var(--cor-container)
        padding: 5rem

        @media (max-width: 1260px)
            flex-direction: column
            gap: 1rem

        .card
            gap: 0.5rem
            color: var(--cor-texto)
            width: 20rem
            padding: 2rem
            text-align: center
            display: flex
            justify-content: center
            flex-direction: column
            border: 2px solid
            border-radius: 2rem

            .imagem-card-container
                width: auto
                .imagem-card
                    height: 10rem

    .about
        background-color: var(--cor-container)
        margin-top: 5rem
        padding: 2rem
        color: var(--cor-texto)
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
            

        .title
            padding: 1rem
            font-size: 2.5rem
            font-weight: 500

        .container
            display: flex
            align-items: center

            @media (max-width: 1260px)
                flex-direction: column-reverse
                text-align: center

            .paragrafo-about
                width: 30rem
                padding: 2rem
                font-size: 1.2rem

        .container-img-about
            width: auto

            .mascote-img
                width: 30rem

    .about-team
        padding: 3rem
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .title-about
            font-size: 2rem
            padding: 1rem

        .container-about-team
            display: flex
            justify-content: center
            align-items: center

            @media (max-width: 1260px)
                flex-direction: column
                text-align: center

            .about-team-text
                width: 30rem
                padding: 3rem
                font-size: 1.3rem

                @media (max-width: 1260px)
                    font-size: 1.5rem

                .destaque-texto-about
                    color: var(--cor-container)
                    font-weight: 500

            .video-pitch
                width: auto
                height: 20rem

                @media (max-width: 1260px)
                    height: 15rem

    .devs
        display: flex
        flex-wrap: wrap
        gap: 3rem
        justify-content: center
        align-items: center
        flex-direction: column
        padding: 2rem

        @media (max-width: 1260px)
            text-align: center
            gap: 1rem

            .link-dowload
                font-size: 1.5rem

        .title-devs
            font-size: 2rem

        .col-top
            display: flex
            justify-content: center
            gap: 4rem
            
            @media (max-width: 1260px)
                gap: 3rem

            @media (max-width: 1260px)
                flex-direction: column

            .container-img-dev
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                @media (max-width: 1260px)
                    .nameDev
                        font-size: 2rem
                    .skillDev
                        font-size: 1.6rem

                .img-devs
                    width: 15rem

                    @media (max-width: 1260px)
                        width: 21rem         

        .col-bottom
            display: flex
            gap: 10rem

            @media (max-width: 1260px)
                gap: 2rem
                flex-direction: column

            .container-img-dev
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                @media (max-width: 1260px)
                    .nameDev
                        font-size: 2rem
                    .skillDev
                        font-size: 1.6rem

                .img-devs
                    width: 15rem

                    @media (max-width: 1260px)
                        width: 21rem

footer
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: var(--cor-container)

    .top-footer
        display: flex
        justify-content: space-between

        @media (max-width: 1260px)
            align-items: center
            flex-direction: column-reverse
            
        .logo-footer
            width: 20rem
            padding-left: 4rem

            @media (max-width: 1260px)
                padding-left: 0

        .links-footer
            flex-wrap: wrap
            display: flex
            width: 30rem
            justify-content: center
            align-items: center
            padding: 1rem

            @media (max-width: 1260px)
                flex-direction: column
                text-align: center
                font-size: 1.3rem
                gap: 1rem

            .link
                width: 10rem
                color: var(--cor-texto)
                text-decoration: none

    .container-copyright
        font-size: 1rem
        display: flex
        justify-content: center
        background-color: var(--cor-texto)
        padding: 0.5rem
